<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>场馆概述</title>
</head>
<body>
    <div id="intro">
        <img :src="url" :width="w" :height="h">
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>

    <script>
        var vm = new Vue({
            el: '#intro',
            data:{
                url:'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png',
                w:'200px',
                h:'100px'
            },
            methods:{

            }
        });
    </script>
</body>
</html>